<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../assets/styles/top-bar.css">
</head>
<body>
  <div class="top-bar">
    <div class="progress-containers">
      <div class="love-container">
        <div class="number-container">
          <p id="loveCountElement">0</p>
        </div>
        <img id="loveBarImage" src="../assets/images/loveBar/loveBar_0.png">
      </div>
      <div class="coin-container">
        <div class="number-container">
          <p id="coinCounter">0</p>
        </div>
        <img id="coinBarImage" src="../assets/images/coinBar.png">
      </div>
    </div>
    <a href="#" id="settings-btn" class="settings-btn"><img src="../assets/images/settingsBtn.png"></a>
  </div>

  <script src="coinManager.js"></script>
</body>
</html>